.header__lang-link{
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-right: 18px;
    transition: 1.5s;
    text-decoration: none;
}
.header__lang-link:hover{
    opacity: 0.8;
}

.header__lang-link:last-child{
    
    padding-right: 0;
}
@media screen and (min-width:320px) and (max-width: 768px){
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}
